@model EcmMobileShop.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/Styles/Login.css">
<div id="Login" class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Quên mật khẩu</h3>
                <div class="d-flex justify-content-end social_icon">
                    <span><i class="fab fa-facebook-square"></i></span>
                    <span><i class="fab fa-google-plus-square"></i></span>
                </div>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="card-body">
                @using (Html.BeginForm())
                {

                    @Html.AntiForgeryToken()
                    <div class="input-group form-group login">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email", @type = "email" })
                    </div>


                    <div class="form-group">
                        <input type="submit" value="Gửi xác nhận" class="btn float-right login_btn">
                    </div>
                }
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Đã có tài khoản?@Html.ActionLink("Đăng nhập", "Login", "Account")
                </div>
            </div>
        </div>
    </div>
</div>
